@keyframes huatiomevionkosvion{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

body{
    font-family:"vaslanvio";
    letter-spacing:0.5px;
    z-index:1;
    color:rgba(0,0,0,1);
}
#huatiomevion{
    position:fixed;
    inset:0;
    background:rgba(255,255,255,1);
    z-index:2;
    animation: huatiomevionkosvion 0.5s ease-out forwards;
}