@font-face{
    font-family:"vaslanvio";
    src: url("../font/vaslanvio.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    unicode-range: U+E000-F8FF,U+005B,U+005D;
    font-display:block;
}
@font-face{
    font-family:"vaslanvio";
    src: url("../font/SmileySans-Oblique.ttf.woff2") format("truetype");
    font-weight:normal;
    font-style:normal;
    unicode-range: U+0000-U+005A,U+005C,U+005E-007F,U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;
    font-display:swap;
}

