body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "vaslanvio";
    letter-spacing:0.5px;
}

a{
    font-size:clamp(24px, 10vw, 60px);
}