body,input{
    font-family:"vaslanvio";
    color:rgba(0,0,0,1);
    letter-spacing:1px;
    z-index:1;
}

html,body{
    margin:0;
}

#canvas{
    position:fixed;
    height:100%;
    width:100%;
    z-index:2;
}

:root{
    --tenvys: clamp(24px,8vw,8vh);
}


body input[type="button"]{
    position:fixed;
    z-index:3;
    border: 4px solid black;
    background: white;
    font-size: calc(var(--tenvys));
    margin:0;
    padding:0;
    width:calc(2.4*var(--tenvys));
}

body input[type="button"]:active{
    opacity:0.5;
}